* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card_1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
  color: white;
}
.card_2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
  color: white;
}
.card_3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
  color: white;
}
.card_4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
  color: white;
}
.card_5 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
  color: white;
}
.card_6 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
  color: white;
 
}


img{
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}
.header{
  color: white;
}
