*{
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    

}
.container{
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba (0, 0, 0, 0.3);
    width: 400px;
    max-width: 100%;
}

.header{
    background-color: white;
    border-bottom: 1px solid azure;
    padding: 20px 40px;
}

.header h2{
    margin: 0;
}

.form{
    padding: 30px 40 px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    width: 100%;
    padding:10px;

}

.form-control.success input{
    border-color: green;
    
}

.form-control.error input{
    border-color: red;
    
}

.form-control i {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.form-control.form-control.success i.fa-check-circle{
    color: green;
    visibility: visible;
}

.form-control.form-control.success i.fa-exclamation-circle{
    color: red;
    visibility: visible;
}

.form-control small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-control.success small{
    color:green;
    visibility: visible;
}

.form-control.error small{
    color: red;
    visibility: visible;
}

.form button{
    background-color: beige;
    border: 2px solid beige;
    border-radius: 4px;
    color: black;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: inherit;

}